@import '../../styles/variables.scss';

.bio {
  margin-bottom: 24px;
  padding: 24px;
  background-color: #222222e8;
  border-radius: 0.3em;
  box-shadow: 5em;

  .author-description {
    display: inline-block;
  }

  .author-image-name {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    min-width: 72px;
  }

  .author-name-content {
    font-size: 95%;
    font-weight: bolder;
    transform-origin: center;
    margin-left: 8px;
  }

  .author-name-content:hover {
    animation: colorRotate 2.5s linear 0s infinite;
  }

  .author-introduction-block {
    display: block;
  }

  .author-introduction {
    margin-top: 4px;
    font-size: 80%;
    line-height: 1.4;
  }

  .author-socials {
    margin-top: 4px;
  }

  a {
    margin-right: 8px;
    font-size: 80%;

    &.visited {
      text-decoration: none;
    }
  }
}

@-webkit-keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes flutter {
  0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  65% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes colorRotate {
  from {
    color: #6666ff;
  }
  10% {
    color: #0099ff;
  }
  50% {
    color: #00ff00;
  }
  75% {
    color: #ff3399;
  }
  100% {
    color: #6666ff;
  }
}
