@import '../../styles/variables.scss';

.custom-h2 {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: calc(0.40625rem - 1px);
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  color: inherit;
  font-family: 'Catamaran';
  font-weight: 700;
  text-rendering: optimizelegibility;
  font-size: 1.5em;
  display: inline;
  border: none;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  cursor: pointer;
}
.slash {
  display: inline-block;
  font-family: 'Catamaran';
}

.custom-h2:hover {
  transition: text-shadow 0.3s, opacity 0.4s, ease-in-out 0.2s;
  color: #b2854c;
}

.custom-hr2 {
  margin-top: 5px;
  background: hsla(0, 0, 0, 0.07);
  border: none;
  height: 1px;
}

.tags-fold {
  margin-top: 40px;
}
